:root {
  --dark-blue: rgb(17, 40, 82);
  --light-blue: rgb(39, 190, 236);
}


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--dark-blue);
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  }

h1 {
  background-color: var(--light-blue);
  font-size: 40px;
  padding-left: 30px;
  padding-top: 10px;
}

nav ul {
  display: flex;
  min-width: 450px;
  list-style: none;
  padding-top: 30px;
  padding-right: 60px;
  justify-content: space-between;
}

nav a {
  color: var(--light-blue);
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid var(--light-blue);
}

nav a:hover {
  color: white;
  text-shadow: #fc0 1px 0 10px;
}

div img {
  position: relative;
  text-align: center;
  width: 100%;
  color: var(--dark-blue);
}

.background-text {
  position: absolute;
  background-color: var(--light-blue);
  top: 260px;
  right: 60px;
  padding: 10px 25px 10px 25px;
  font-weight: bold;
  font-size: 20px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

aside {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  padding-top: 20px;
  width: fit-content;
  height: fit-content;
}

aside ul {
  width: fit-content;
}

aside li {
  list-style: none;
  width: fit-content;
  height: 160px;
}

aside p {
  width: 150px;
  text-align: right;
  margin-left: 160px;
}

.work-sidebar {
  height: fit-content;
}

.work-borderline {
  height: 700px;
}

article {
  flex: 4;
  padding: 25px 50px 20px 20px;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.aboutme-text {
  font-size: 14px;
  box-sizing: content-box;
  width: fit-content;
  height: fit-content;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-left: solid var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}

.work-images {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  border-left: solid var(--dark-blue);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.card {
  height: 150px;
  border: solid var(--light-blue);
  margin-bottom: 20px;
  display: flex;
}

#card-surf {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
}

.left-images {
  width: 50%;
}

.right-images {
  padding-left: 20px;
  width: 50%;
}

.card:hover {
  opacity: .6;
}

.image-text {
  position: absolute;
  background-color: var(--light-blue);
  padding: 10px;
}

.small-fontsize {
  font-size: 11px;
}

#surf-text {
  bottom: 140px;
}

#led-text {
  bottom: -30px;
}

#puzzles-text {
  bottom: -200px;
}

#calculator-text {
  bottom: -30px;
}

#run-text {
  bottom: -200px;
}

.contactme-section {
  height: 80px;
  border-left: solid var(--dark-blue);
}

.contactme-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
}

.contactme-li {
  display: inline;
  margin: auto;
  text-decoration: none;
}

a[href^="#"]::before {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .header-text {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(23, 23, 105);
  }
  .card {
    display: flex;
    flex-wrap: wrap;
  }
  aside li {
    box-sizing: content-box;
    width: 100%;
    height: 150px;
  }
  aside p {
    box-sizing: content-box;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    padding-right: 10px;
  }
}

@media screen and (max-width: 750px) {
  .card {
    width: 100%;
  }
}