:root {
  --dark-blue: rgb(17, 40, 82);
  --light-blue: rgb(39, 190, 236);
  --font-weight: bold; 
  --text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

/*Header with dark blue background and space between h1 element and navigation so they're on opposite sides of the page.*/
header {
  display: flex;
  background-color: var(--dark-blue);
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  }

h1 {
  background-color: var(--light-blue);
  font-size: 40px;
  padding-left: 30px;
  padding-top: 10px;
}

/*Navigation in header*/
nav {
  min-width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
}

nav li {
  margin: auto;
  list-style: none;
}

/*Styled navigation links*/
nav a {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  text-decoration: var(--text-decoration);
  border-bottom: solid var(--light-blue);
  width: fit-content;
}

/*Navigation links glow when hovered over*/
nav a:hover {
  color: white;
  text-shadow: #fc0 1px 0 10px;
}

.container {
  position: relative;
}

.main-background {
  height: 290px;
  width: 100%;
}

/*Selfie image is sized and positioned infront of main background*/
.selfie-image {
  position: absolute;
  display: flex;
  top: 40px;
  right: 60px;
  width: 203px;
}

/*Text infront or below selfie photo*/
.background-text {
  position: absolute;
  background-color: var(--light-blue);
  top: 240px;
  right: 60px;
  padding: 10px 25px 10px 25px;
  font-weight: var(--font-weight);
  font-size: 20px;
  font-style: italic;
}

section {
  display: flex;
}

/*Sidebar in main content area*/
aside {
  font-size: 3vw;
  padding-top: 20px;
  width: fit-content;
  height: 100%;
}

aside li {
  height: fit-content;
  list-style: none;
  padding-bottom: 40px;
}

aside p {
  width: 200px;
  text-align: right;
  margin-left: 100px;
  color: var(--dark-blue);
}

.work-sidebar {
  height: 730px;
}

.work {
  height: fit-content;
}

/*Main content next to side bar*/
article {
  flex: 4;
  padding: 25px 50px 20px 20px;
  display: flex;
  flex-direction: column;
}

/*About me paragraph*/
.aboutme-text {
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-left: solid var(--dark-blue);
  line-height: 1.5;
}

/*Images in work section*/
.work-images {
  flex-wrap: wrap;
  padding-left: 20px;
  border-left: solid var(--dark-blue);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.card {
  height: 150px;
  border: solid var(--light-blue);
  margin-bottom: 20px;
  display: flex;
  opacity: .6;
  width: 100%;
}

/*Size modifications for surf report image*/
.surf-image {
  width: 100%;
}

#card-surf {
  margin-bottom: 20px;
  height: 300px;
}

/*Size modifications for LED Wall and Pastel Puzzel images*/
.left-images {
  width: 50%;
}

/*Size modifications for Calculator and Run Buddy images*/
.right-images {
  padding-left: 20px;
  width: 50%;
}

/*When mouse hovers over images in work section, the opacity goes from .6 to 1*/
.card:hover {
  opacity: 1;
}

.small-fontsize {
  font-size: 11px;
}

#surf-text {
  bottom: 110px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#led-text {
  bottom: -60px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#puzzles-text {
  bottom: -230px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#calculator-text {
  bottom: -60px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#run-text {
  bottom: -230px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

/*Contact me section at bottom of webpage*/
.contactme-section {
  height: 150px;
  border-left: solid var(--dark-blue);
}

.contactme-ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  margin: auto;
  list-style: none;
}

.contactme-li {
  margin: auto;
}

.contactme-a {
  text-decoration: var(--text-decoration);
  border-bottom: solid var(--dark-blue);
}

ul a:hover {
  background-color: var(--dark-blue);
  color: white;
}

/*Bottom of webpage*/
footer {
  background-color: var(--dark-blue);
  height: 40px;
}

footer h4 {
  text-align: center;
  color: var(--light-blue);
  font-style: italic;
}

/*When screen width shrinks to 850px the following will be modified for viewer readability and spacing*/
@media screen and (max-width: 850px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(70, 45, 98);
  }
  h1 {
  text-align: center;
  color: var(--dark-blue);
  }
  aside li {
    box-sizing: content-box;
    width: var(--font-weight);
  }
  .work-sidebar {
    height: fit-content;
    padding-bottom: 80px;
  }
  aside p {
    box-sizing: content-box;
    width: 100%;
    height: 220px;
    padding-right: 10px;
    margin-left: 0px;
  }
  .work {
    height: 650px;
  }
  #surf-text {
    bottom: 20px;
  }
  #led-text {
    bottom: -150px;
  }
  #puzzles-text {
    bottom: -320px;
  }  
  #calculator-text {
    bottom: -150px;
  } 
  #run-text {
    bottom: -320px;
  }
  .contactme-section {
    height: 80px;
  }
  .contactme-ul {
    height: 1;
  }
}

/*When screen shrinks to 550px the following will apply for readability and spacing*/
@media screen and (max-width: 550px) {
  html {
    display: grid;
  }
  header {
    background-color: rgb(102, 69, 132);
  }
  article {
    height: 1500px;
  }
  aside li {
    height: 420px;
  }
  #surf-text {
    bottom: -200px;
  }
  #led-text {
    bottom: -380px;
  }
  #puzzles-text {
    bottom: -550px;
  }  
  #calculator-text {
    bottom: -380px;
  } 
  #run-text {
    bottom: -550px;
  }
  .contactme-section {
    height: 80px;
  }
  .contactme-ul {
    height: 1;
  }
}
